Assignements/Assignment02/R/DataAnalysis.R
Assignements/ulyssesResults/01_array_sum.csv
Assignements/ulyssesResults/06_touch_by_all.csv

Assignements/Assignment02/prefixSum-P
Assignements/Assignment02/prefixSum-S
Assignements/Assignment02/R/.Rhistory
Assignements/Assignment02/R/.RDataTmp
Assignements/Assignment02/prefixSumTry
.vscode/launch.json
.vscode/tasks.json
Assignements/Assignment02/.vscode/launch.json
Assignements/Assignment02/.vscode/tasks.json
Assignements/Assignment02/R/.Rhistory
Assignements/Assignment02/R/DataAnalysis.R
Assignements/ulyssesResults/prefixSum.csv
Assignements/Assignment02/R/.Rhistory
